html {
    margin: auto;
}

.akan {
    font-size: x-large;
}

body {
    background: rgb(100, 193, 192);
    background: linear-gradient(0deg, rgba(100, 193, 192, 1) 0%, rgba(70, 45, 111, 0.47942927170868344) 78%);
    /* background-image: url(//Assets/pixay.jpg); */
}