html {
    margin: auto;
}

.akan {
    font-size: x-large;
}

#paragh {
    font-size: 20px;
}

.col-lg-6 {
    margin: 24px;
    width: 50%;
    height: 20%;
    background: #f5c800;
    animation: zoom-in 1s ease infinite;
}

@keyframes zoom-in {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}